@import "tailwindcss";

*:focus {
  @apply focus:ring-2 focus:ring-blue-500;
}

button {
  @apply w-full text-left bg-zinc-800 hover:bg-zinc-700 rounded-md p-2 mb-2 cursor-pointer font-semibold text-white;
}


input {
  @apply border-zinc-800 focus:border-zinc-700 border-2 rounded-md p-2 w-full font-semibold text-white;
}

.input-wrapper {
  @apply mb-4;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;

  @apply bg-zinc-900 text-white;

  &::-webkit-scrollbar {
    @apply w-3 bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-md;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }
}

input, button {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

p, span, label, div, h1, h2, h3, h4, h5, h6 {
  user-select: none;
}