@import "tailwindcss";

:root {
  --grid-min-width: 16rem;
}

*:focus {
  @apply focus:border-2 focus:border-blue-500;
}

button {
  @apply w-full text-left bg-zinc-800 hover:bg-zinc-700 rounded-md p-2 mb-2 cursor-pointer font-semibold text-white;
}


input {
  @apply border-zinc-800 focus:border-zinc-700 border-2 rounded-md p-2 w-full font-semibold text-white;
}

.input-wrapper {
  @apply mb-4 w-full h-full flex flex-col gap-2 items-center;
}

.display-grid {
  @apply grid gap-4;

  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-width), 1fr));
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;

  @apply bg-zinc-900 text-white;

  &::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar {
    @apply w-3 bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-md;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }
}

input, button {
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}

p, span, label, div, h1, h2, h3, h4, h5, h6 {
  user-select: none;
}