name: Release

on: 
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: 'Version to release'
        required: true
        options:
          - major
          - minor
          - patch

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('crosshare/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Bump version
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "<>"
          echo "npm_version=$(npm version ${{ github.event.inputs.version }})" | Out-File -FilePath $env:GITHUB_ENV -Append


      - name: Create tag
        run: |
          git tag ${{ env.npm_version }}
          git push origin ${{ env.npm_version }}

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.npm_version }}
          name: Release ${{ env.npm_version }}
          body: ${{ github.event.inputs.notes }}
          draft: true
          files: |
            out/make/squirrel.windows/x64/*